<form class="login-form">
    <div>
        <label for="email-li">email:</label>
        <input type="text", id="email-li">
    </div>
    <div>
        <label for="password-li">password:</label>
        <input type="password", id="password-li">
    </div>
    <div>
        <button type="submit">login</button>
    </div>
</form>

<form class="signup-form">
      <div>
        <label for="username-si">username:</label>
        <input type="text", id="username-si">
    </div>
    <div>
        <label for="email-si">email:</label>
        <input type="text", id="email-si">
    </div>
    <div>
        <label for="password-si">password:</label>
        <input type="password", id="password-si">
    </div>
    <div>
        <button type="submit">signup</button>
    </div>
</form>

<script src="/javascript/login.js"></script>