

<h2 class="single-blog-title">
  {{blog.title}}
</h2>
<div>
 <div class="single-blog-body">{{blog.body}}</div> 
<div>
  <p class="by">Posted by: {{blog.user.username}}</p> 
</div>
 
  <div>
    <p>comments:</p>
    {{blog.comments}}
  </div>
  
</div>